# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
